<div class="form-container">
  <h2>Register</h2>
  <button class="btn btn-outline-primary" routerLink="/login">Login</button>
  <form (ngSubmit)="register()">
    <input type="text" [(ngModel)]="userName" name="userName" placeholder="Username" required />
    <input type="email" [(ngModel)]="email" name="email" required placeholder="Email" />
    <input type="password" [(ngModel)]="password" name="password" required placeholder="Password" />
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder="Confirm Password" />
    <button type="submit">Register</button>

    <div *ngIf="errorMessage" class="error" style="color:red; margin-top:10px;">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success" style="color:green; margin-top:10px;">
      {{ successMessage }}
    </div>
  </form>
</div>
